<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>FizzBizz</title>
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="logo-wrap">
      <a href="/" class="logo"><img src="/img/Alight Motion Logo Transparent.png" alt="logo"></a>
      <div class="searchbox">
        <form action="/search" method="post" class="searchbar-form">
        <input type="text" class="focus-test" placeholder="Search..." name="searchbar" required></form>
        <div class="searchbox-div"></div>
      </div>
      <!-- <div class="avatar-container"><h5>avatar</h5></div>  -->
      </div>

      <div class="navbar-2">
        <div id="myDropdown" class="dropdown-content">
        <!-- <a href="/"> <i class="fa-solid fa-house"></i> Home</a> -->
        <!-- <a href="/categories/:topic"> <i class="fa-solid fa-list"></i> Categories</a> -->
        <a href="/politics"> <i class="fa-solid fa-list"></i> Politics</a>
        <a href="/politics"> <i class="fa-solid fa-list"></i> Romance</a>     
        <a href="/sports"> <i class="fa-solid fa-list"></i> Sports</a>
        <a href="/politics"> <i class="fa-solid fa-list"></i> Religion</a> 
        <a href="/politics"> <i class="fa-solid fa-list"></i> Movies</a> 
        <a href="/politics"> <i class="fa-solid fa-list"></i> Tech</a>
        <a href="/logout"> <i class="fa-solid fa-list"></i> Logout</a>
          

      </div> 
      <% if(activeUser.isAuthenticated()) { %>
        <div class="avatar-container"><a href="/login">Hi <%= activeUser.user.moniker %></a></div> 

     <% } else { %>
        <div class="avatar-container"><a href="/login">Login/Sign Up</a></div> 

      <% } %>



        <div class="hamburger-container">
          <div class="stick stick-1"></div>
          <div class="stick stick-2"></div>
          <div class="stick stick-3"></div>
        </div>
      </div> 
    </div>

  </nav>

  <div class="main-container">